.settings {
  margin: 50px 0;
  &__tabs {
    width: auto;
    margin: 20px 0;
    background-color: white !important;
    color: black !important;
    box-shadow: none !important;
  }

  &__input {
    width: 100%;
    margin: 20px 0;
  }
}
