.room__users {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  &_list {
    max-height: 400px;
    overflow: scroll;
    &__item {
      &_img {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }
  }
  &_btn {
    width: 100px;
    align-self: flex-end;
    margin-top: auto;
  }
}
