.teams__list {
  margin: 50px 0 !important;
  width: 100%;
  max-width: 600px;
  position: relative;
  overflow: auto;
  max-height: 500px;

  &_section {
    margin: 30px 0;
    background: white;
    border: 2px solid #e9ecef;
    transition: border-color 0.2s ease-in;
    border-radius: 5px;
    padding: 20px;
    opacity: 0.8;
  }

  &_ul {
    padding: 0;
  }

  &__title {
    color: black !important;
    font-size: 18px !important;
    font-weight: 600 !important;
  }
}
