.home {
  flex-shrink: 0;
  flex-grow: 1;
  display: flex;
  align-items: center;

  &__links {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    max-width: 882px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &_btn {
      width: 200px;
    }

    &_modal {
      margin-top: 20px;
    }
  }

  &__modal {
    &_input {
      width: 100%;
      margin: 10px;
    }
  }
}

@media screen and (max-width: 568px) {
  .home__links {
    flex-direction: column;
    align-items: center;
    &_btn:nth-child(1) {
      margin-bottom: 40px;
    }
  }
}
