.header {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;

  opacity: 1;
  transform: translateY(0);
  box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
  transition : all 0.3s ease-out;
  &__logo{
    display: flex;
    align-items: center;

    p {
      margin-top: 4px;
      font-weight: 600;
      font-size: 17px;
      color: #88988b;
      margin-left: 2px;
      margin-bottom: 0;
    }
  }

  &__logout {
    cursor: pointer;
  }
}
