.footer {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  background-color: white;
  opacity: 1;
  box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);

  display: flex;
  align-items: center;
  height: 50px;
}

@media screen and (max-width: 1140px) {
  .footer {
    width: calc(100% - 40px);
  }
}

@media screen and (max-width: 568px) {
  .footer {
    padding: 30px 0 36px;
  }
}
