.room {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  width: 100%;
  height: 100%;

  margin-top: 50px;

  &__number {
    width: 400px;
    height: 100px;
    background: #9e9d9b42;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
    margin-bottom: 30px;
    &_value {
      font-size: 36px;
      letter-spacing: 6px;
      font-weight: 500;
    }
  }
  &__loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__btn {
    width: 200px;
  }
}
