body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #5d5c5c;
  overflow-x: hidden;
  transition: all 200ms linear;
}

.page__content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page__section {
  flex-shrink: 0;
  flex-grow: 1;
  display: flex;
  align-items: center;
  z-index: 2;
}

.bg-light {
  background-color: #fff !important;
  transition: all 200ms linear;
}

.page__bg {
  position: fixed;
  bottom: 40px;
  filter: grayscale(1);
  opacity: 0.3;
  height: 25vh;
  width: auto;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: 0 0;
  z-index: 1;
}
